/*------------------
    BG COLOR        
-------------------*/

.ms-bg-headergreen {
    background-color: #2C3E50;
}

.ms-bg-lightgreen {
    background-color: #1ABC9C;
}

.ms-bg-green {
    background-color: #3A546D;
}

/*------------------
    TYPOGRAPHY       
-------------------*/

.ms-style-link {
    list-style: none;
}

/*------------------
    TYPOGRAPHY       
-------------------*/

.ms-width {
    max-width: 300px;
}